@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --black-color: #303041;
    --grey-color: #3d3a50;
    --support-color: #0ea2f6;
    --white-color: #f4fcfe;

    --html-color: #E44D26;
    --css-color: #379AD6;
    --js-color: #F7DF1E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    color: var(--black-color);
    background-color: var(--white-color);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



.center{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-name{
    color: var(--white-color);
    font-size: 6.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subtitle-name{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.logo-index img{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.nav-index{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-index a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
    transition: font-size 0.5s;
    padding: 1rem;

}

.nav-index a:hover{
    color: var(--black-color);
    background-color: var(--support-color);
    font-size: 2rem;
    border-radius: 0.2rem;
}

.header{
    background-color: var(--black-color);
    box-shadow: 0.1rem 0.1rem 0.5rem 0  var(--black-color);
    position: sticky;
    top: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    margin: 1rem 0 1rem 1rem;
    color: var(--white-color);
    font-size: 2.4rem;
}


.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black-color);
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 3rem;
    color: var(--white-color);
}

.menu a:hover{
    color: var(--support-color);
}

.nav{
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 4rem 2rem;
}

.hamb-line{
    background: var(--white-color);
    display: block;
    height: 0.2rem;
    position: relative;
    width: 2.4rem;
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 0.5rem;
}
.hamb-line::after{
    top: -0.5rem;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.contact-main,
.portfolio-main{
    display:flex;
    flex-direction: column;
    
    width: 100vw;
}

.header-page{
    display:block;
    margin-top: 2rem;
    margin-left: 0.4rem;
    width: 100%;
    height: auto;
}

.header-page p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--support-color);
}

.header-page h1{
    margin: 0;
    padding: 0;
    color: var(--black-color);
}

.projects-container{
    margin-top: 2.1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 1.2rem -0.4rem var(--black-color);
    max-width: 30rem;
    margin: 1.6rem 0 0 0;
    border-radius: 2rem 2rem 0 0;
}

.project-card p, h2{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.8rem;
}

.project-card img{
    width: 30rem;
    height: 17rem;
    object-fit: cover;
    display: block;
}

.project-card--button{
    width: 100%;
    text-decoration: none;
    padding: 1.2rem;
    color: var(--white-color);
    background-color: var(--support-color);
    text-align: center;
    cursor: pointer;
}

.project-card--button:hover{
    opacity: 0.8;
}

.button-disable{
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: not-allowed;
}

.tag{
    color: var(--white-color);
    padding: 0.8rem;
    border-radius: 3rem;
}

.html{background-color: var(--html-color);}
.css{background-color: var(--css-color);}
.js{background-color: var(--js-color);}



.form-group{
    display: block;
    margin:2.4rem 0.4rem;
    
}

.form-group input{
    width: auto;
    height: 3rem;
    border: none;
    border-bottom: 0.1rem solid var(--white-color);
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: var(--grey-color);
}

.form-group:nth-child(3){
    display: flex;
    align-items: center;
    margin-top: 4.4rem;
    font-weight: lighter;
    line-height: 1rem;
    font-size: 1.2rem;
}

.contact-button{
    margin-top: 2.4rem;
    width: 100%;
    padding: 3rem;
    border: none;
    border-radius: 1.2rem;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.2rem;
    cursor: pointer;
}
